{% extends "base.html" %}
{% block title %} SakeOrb: Popular Items {% endblock %}

{% block content %}

<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Sake Name</th>
        <th scope="col">Number of Reviews</th>
        <th scope="col">Like Percentage</th>
        <th scope="col">Type</th>
        <th scope="col">SMV</th>
        <th scope="col">Acidity</th>
        <th scope="col">Amakara</th>
        <th scope="col">Notan</th>
        <th scope="col">ABV</th>

      </tr>
    </thead>
    <tbody>
      {% for data in hotitems %}
        <tr>
          <td>{{ data.Sake_Product_Name }}</td>
          <td>{{ data.Taste_like + data.Taste_dislike }}</td>
          <td>{{ 100*(data.Taste_like/(data.Taste_like + data.Taste_dislike))|round(4) }}</td>
          <td>{{ data.Type }}</td>
          <td>{{ data.SMV }}</td>
          <td>{{ data.Acidity }}</td>
          <td>{{ data.Amakara }}</td>
          <td>{{ data.Notan }}</td>
          <td>{{ data.ABV }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
